capi_diagnostics_address: :8443
capi_insecure_diagnostics: false
capi_use_deprecated_infra_machine_naming: false
cluster_topology: false
exp_cluster_resource_set: true
exp_machine_pool: true
exp_machine_set_preflight_checks: false
exp_runtime_sdk: false
image: registry.k8s.io/cluster-api/cluster-api-controller:v1.8.3
