---
kind: KubeadmControlPlane
apiVersion: controlplane.cluster.x-k8s.io/v1beta1
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "openstackcluster.labels" . | nindent 4 }}
  annotations:
    # Let CAPO do this in its chosen order.
    argocd.argoproj.io/sync-options: Delete=false
spec:
  version: "{{ .Values.version }}"
  replicas: {{ .Values.controlPlane.replicas }}
  machineTemplate:
    infrastructureRef:
      kind: OpenStackMachineTemplate
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      name: {{ include "controlplane.openstackmachinetemplate.name" . }}
  kubeadmConfigSpec:
    initConfiguration:
      nodeRegistration:
        name: {{ "'{{ local_hostname }}'" }}
        kubeletExtraArgs:
          cloud-provider: external
          node-labels: {{- include "openstack.nodelabels.control-plane" . | nindent 12 }}
        taints:
          {{- include "openstack.taints.control-plane" . | nindent 8 }}
      {{- if .Values.controlPlane.kubeadmSkipPhases }}
      skipPhases:
        {{- toYaml $.Values.controlPlane.kubeadmSkipPhases | nindent 6 }}
      {{- end }}
      patches:
        directory: /etc/kubernetes/patches
    joinConfiguration:
      nodeRegistration:
        name: {{ "'{{ local_hostname }}'" }}
        kubeletExtraArgs:
          cloud-provider: external
          node-labels: {{- include "openstack.nodelabels.control-plane" . | nindent 12 }}
        taints:
          {{- include "openstack.taints.control-plane" . | nindent 8 }}
      patches:
        directory: /etc/kubernetes/patches
    preKubeadmCommands:
      - bash /tmp/kubeadm/patches/kube-apiserver-patch.sh -c {{ .Values.controlPlane.apiServer.cpuLimitPercent }} -m {{ .Values.controlPlane.apiServer.memoryLimitPercent }}
    clusterConfiguration:
      apiServer:
        extraArgs:
          cloud-provider: external
        certSANs:
        - localhost
        - 127.0.0.1
        {{- with $api := .Values.api }}
          {{- with $sans := $api.certificateSANs }}
            {{- range $sans }}
              {{- printf "- %s" . | nindent 8 }}
            {{- end }}
          {{- end }}
        {{- end }}
      controllerManager:
        extraArgs:
          cloud-provider: external
          bind-address: "0.0.0.0"
      etcd:
        local:
          extraArgs:
            listen-metrics-urls: "http://0.0.0.0:2381"
      scheduler:
        extraArgs:
          authorization-always-allow-paths: "/healthz,/readyz,/livez,/metrics"
          bind-address: "0.0.0.0"
    files:
    {{- range $kubeadmPatch, $_ :=  .Files.Glob  "files/patches/**" }}
    - path: {{ (printf "/tmp/kubeadm/patches/%s" (base $kubeadmPatch)) }}
      owner: "root:root"
      permissions: "0644"
      content: |-
        {{- $.Files.Get $kubeadmPatch | nindent 8 }}
    {{- end }}
    {{- with $config := .Values.controlPlane.kubelet -}}
    {{ $_ := set $config "apiVersion" "kubelet.config.k8s.io/v1beta1" -}}
    {{ $_ := set $config "kind" "KubeletConfiguration" }}
    - path: /etc/kubernetes/patches/kubeletconfiguration0+strategic.json
      owner: "root:root"
      permissions: "0644"
      content: |
        {{ $config | toJson }}
    {{- end }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ include "controlplane.openstackmachinetemplate.name" . }}
  labels:
    {{- include "openstackcluster.labels" . | nindent 4 }}
  annotations:
    # Let CAPO do this in its chosen order.
    argocd.argoproj.io/sync-options: Delete=false
spec:
  template:
    spec:
      flavor: {{ .Values.controlPlane.machine.flavorID }}
      image:
        id: {{ .Values.controlPlane.machine.imageID }}
      {{- if .Values.openstack.sshKeyName }}
      sshKeyName: {{ .Values.openstack.sshKeyName }}
      {{- end }}
      identityRef:
        name: {{ include "cloudconfig.name" . }}
        cloudName: {{ .Values.openstack.cloud }}
      {{- if .Values.controlPlane.machine.disk }}
      rootVolume:
        availabilityZone: {{ .Values.openstack.volumeFailureDomain }}
        sizeGiB: {{ .Values.controlPlane.machine.disk.size }}
      {{- end }}
      {{- with $cluster := .Values.cluster -}}
        {{- with $metadata := $cluster.serverMetadata -}}
          {{- printf "serverMetadata:" | nindent 6 -}}
          {{ range $k, $v := $metadata -}}
            {{- printf "- key: %s" $k | nindent 6 -}}
            {{- printf "  value: %s" $v | nindent 6 -}}
          {{ end -}}
        {{- end }}
      {{- end }}
      {{- if .Values.controlPlane.machine.serverGroupID }}
      serverGroup:
        id: {{ .Values.controlPlane.machine.serverGroupID }}
      {{- end }}
