# Enable/disable Kubeadm boostrap/control-plane manager.
kubeadm:
  enabled: true

# Enable/disable OpenStack provider.
openstack:
  enabled: true

cluster-api-core:
  capi_diagnostics_address: :8443
  capi_insecure_diagnostics: false
  capi_use_deprecated_infra_machine_naming: false
  cluster_topology: false
  exp_cluster_resource_set: true
  exp_machine_pool: true
  exp_machine_set_preflight_checks: true
  exp_machine_waitforvolumedetach_consider_volumeattachments: true
  exp_runtime_sdk: false
  image: registry.k8s.io/cluster-api/cluster-api-controller:v1.9.4

cluster-api-bootstrap-kubeadm:
  capi_diagnostics_address: :8443
  capi_insecure_diagnostics: false
  exp_kubeadm_bootstrap_format_ignition: false
  exp_machine_pool: true
  image: registry.k8s.io/cluster-api/kubeadm-bootstrap-controller:v1.9.4
  kubeadm_bootstrap_token_ttl: 15m

cluster-api-control-plane-kubeadm:
  capi_diagnostics_address: :8443
  capi_insecure_diagnostics: false
  capi_use_deprecated_infra_machine_naming: false
  cluster_topology: false
  exp_kubeadm_bootstrap_format_ignition: false
  exp_machine_pool: true
  image: registry.k8s.io/cluster-api/kubeadm-control-plane-controller:v1.9.4

cluster-api-provider-openstack:
  image: registry.k8s.io/capi-openstack/capi-openstack-controller:v0.12.0
